/* Import Google Fonts - Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(138, 124, 124, 0.6), rgba(126, 109, 109, 0.6)), url('campus.jpg');
    background-size: cover;
}
/* Full-width header styling */
.navbar_default {
    background-color: rgba(249, 4, 4, 0.714); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
    height: 100px;
    box-sizing: border-box;
    padding: 0 20px;
}

.navbar-brand {
    color: rgb(9, 9, 9);
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

.navbar a {
    color: #0e0e0e; 
    text-decoration: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar a:hover {
    color: rgba(225, 216, 216, 0.8);
}

h1{
    margin-left: 10px;
}

main {
    margin-left: 10px;
}

.title {
    color: rgb(9, 9, 9);
    font-size: 40px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 350px;
    margin-top: 105px;
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 0px; 
    margin-left: 130px;
    
}

#advisor-container {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allows scrolling if advisors exceed height */
    background-color: rgba(254, 254, 254, 0.73);
    align-items: flex-end;
    align-items: flex-start;
}

#advisor-container.list-group.active {
    background-color: rgba(254, 254, 254, 0.73); 
    color: black !important; 
    border: none;
    font-weight: bold; 
    text-align: center; 
}

.advisor_name:hover {
    background-color: #f1f1f1;
}

.advisor_name:not(:last-child) {
    border-bottom: 1px solid #ddd; /* Adds a line between each advisor */
}


#calendar {
    background-color: rgba(254, 254, 254, 0.829);
    padding: 0px;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.time_slots{
    width: 250px;
    height: 300px;
    display: flex;
    padding: 0;
    margin-left: 40px;
    background-color: #ffff;
    flex-direction: column;
    overflow-y: auto; 
    background-color: rgba(254, 254, 254, 0.73);
}

.available-event {
    background-color: rgba(249, 4, 4, 0.714); /* Change text color */
    font-weight: bold; 
    border: none;
    
}

.note-container {
    display: flex;
    align-items: center; 
    width: 100%;
    gap: 10px; 
    margin-top: 30px;
}

.student-note {
    width: 600px; /* Adjust width as needed */
    padding: 8px;
    height: 160px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 400px;
    background-color: rgba(254, 254, 254, 0.73);

}

#submitAppointment {
    padding: 8px 12px;
    border: none;
    background-color: rgba(249, 4, 4, 0.714);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

#submitAvailability:hover {
    background-color: rgba(164, 107, 107, 0.8);
}

.highlighted {
    background-color: rgba(249, 4, 4, 0.714) !important;
    color: white;
}

.selected {
    border: 2px rgba(249, 4, 4, 0.714);
}






