{% extends "base.html" %}

{% block title %}{{ gettext('Admin Dashboard')}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-dash.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ gettext('Admin Dashboard')}}</h1>

        <!-- Create User Form -->
        <div class="form-section" id="createUserSection">
            <div class="header" onclick="toggleForm()">
                <h2>{{ gettext('Create User')}}</h2>
                <div class="plus-sign">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                </div>
            </div>
            
            <div class="form-content">
                <form method="POST" action="{{ url_for('create_user') }}">
                    <label for="user_type">{{ gettext('User Type:')}}</label>
                    <select name="user_type" id="user_type" required onchange="showFields()">
                        <option value="" disabled selected>{{ gettext('Select User Type')}}</option>
                        <option value="student">{{ gettext('Student')}}</option>
                        <option value="advisor">{{ gettext('Advisor')}}</option>
                        <option value="admin">{{ gettext('Admin')}}</option>
                    </select><br><br>

                    <div id="studentFields" class="dynamicFields" style="display: none;">
                        <label>{{ gettext('Student ID:')}}</label>
                        <input type="number" name="student_id"><br>
                    </div>

                    <div id="advisorFields" class="dynamicFields" style="display: none;">
                        <label>{{ gettext('Advisor ID:')}}</label>
                        <input type="number" name="advisor_id"><br>

                        <label>{{ gettext('Office:')}}</label>
                        <input type="text" name="office"><br>
                    </div>

                    <div id="adminFields" class="dynamicFields" style="display: none;">
                    </div>

                    <label>{{ gettext('First Name:')}}</label>
                    <input type="text" name="first_name" required><br>

                    <label>{{ gettext('Last Name:')}}</label>
                    <input type="text" name="last_name" required><br>

                    <label>{{ gettext('Email:')}}</label>
                    <input type="email" name="email" required><br>

                    <label>{{ gettext('Password:')}}</label>
                    <input type="password" name="password" required><br>

                    <button  class="submit-btn" type="submit">{{ gettext('Create User')}}</button>
                </form>
            </div>
        </div>

        
        <!-- Displays users and search form. MAYBE ADD BACK BUTTON OR SOMETHING? -->
        <div class= "search-header">
            <!-- Users List -->
            <h2>{{ gettext('Users')}}</h2>

            <!-- Search Form -->
            <form class="search-form" action="{{ url_for('search_users') }}" method="get">
                <input type="text" name="query" placeholder="{{ _('Search by Name or ID') }}" required>

                <button type="submit" class="search-btn">
                    <svg class="search-icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 
                            44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 
                            208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 
                            17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 
                            9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 
                            0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 
                            128 0 70.7-57.2 128-128 128z" />
                    </svg>
                </button>
            </form>


        </div>

        {% if query %}
            <h3>{{ gettext('Search Results for')}} "{{ query }}"</h3>
        {% endif %}

        <h3>{{ gettext('Students')}}</h3>
        <table>
            <tr><th>{{ gettext('ID')}}</th><th>{{ gettext('Name')}}</th><th>{{ gettext('Email')}}</th><th>{{ gettext('Action')}}</th></tr>
            {% for student in students %}
            <tr>
                <td>{{ student.student_id }}</td>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_user', user_type='student', user_id=student.student_id) }}">
                        <button class="submit-btn" type="submit">{{ gettext('Delete')}}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>{{ gettext('Advisors')}}</h3>
        <table>
            <tr><th>{{ gettext('ID')}}</th><th>{{ gettext('Name')}}</th><th>{{ gettext('Email')}}</th><th>{{ gettext('Action')}}</th></tr>
            {% for advisor in advisors %}
            <tr>
                <td>{{ advisor.advisor_id }}</td>
                <td>{{ advisor.first_name }} {{ advisor.last_name }}</td>
                <td>{{ advisor.email }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_user', user_type='advisor', user_id=advisor.advisor_id) }}">
                        <button class="submit-btn" type="submit">{{ gettext('Delete')}}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>Admins</h3>
        <table>
            <tr><th>{{ gettext('ID')}}</th><th>{{ gettext('Name')}}</th><th>{{ gettext('Email')}}</th><th>{{ gettext('Action')}}</th></tr>
            {% for admin in admins %}
            <tr>
                <td>{{ admin.admin_id }}</td>
                <td>{{ admin.name }}</td>
                <td>{{ admin.email }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_user', user_type='admin', user_id=admin.admin_id) }}">
                        <button class="submit-btn" type="submit">{{ gettext('Delete')}}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
    
{% endblock %}

{% block scripts %}
    <!-- Connects js/admin.js file so functions ( like toggleMenu() ) in there will work when called in this file-->
    <script src="{{ url_for('static', filename='js/admin-dash.js') }}"></script>
{% endblock %}
