<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WKU CS Division Advising Center</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule-appointments.css') }}">
    <script src="{{ url_for('static', filename='schedule-appointments.js') }}"></script>
 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar_default">
        <a class="navbar-brand" href="#" style="font-size: 40px;">WKU CS Advising Center</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('student_dashboard') }}">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Header Title -->
    <div class="title">
        <h2>Hello, Students! Check your upcoming scheduled appointments here.</h2>
    </div>

    <div class="container_scheduled-appointments">
        <div class="scheduled_appointments">
            <!-- Appointments will be inserted here dynamically -->
        </div>
    </div>

    <div class="cancel-note-container">
        <input type="text" class="cancel-student-note" placeholder="Leave a note..." />
        <button id="cancel" class="btn btn-primary">Cancel</button>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <p>Western Kentucky University, 1906 College Heights Blvd
                Bowling Green, KY 42101</p>
                <p>guangming.xing@wku.edu</p>
                <p>270-745-8848</p>
            </div>
            <div class="footer-right">
                <li class="nav-item">
                    <a class="nav-link-footer-right" href="{{ url_for('home') }}">Logout</a>
                </li>
            </div>
        </div>
    </footer>
</body>
</html>
